<ng-container *ngIf="signification$|async as signification">
    <ion-card class="signification-content" *ngIf="signification.content!==signification.name">
        <div class="content">{{signification.content}}</div>

    </ion-card>

    <ion-slides #slides (ionSlideDidChange)="slidesChange($event)" [options]="slideOptions">
        <ng-container>

            <ng-container *ngIf="signification.links as links">

                <ion-slide *ngFor="let link of links">
                    <ion-card class="slide-container">

                        <div class="content">

                            <ng-container *ngTemplateOutlet="linkTpl;context:{link:link,links:signification.links}"></ng-container>

                        </div>

                    </ion-card>
                </ion-slide>
            </ng-container>


        </ng-container>

    </ion-slides>
</ng-container>

<ng-template #linkTpl let-link="link" let-links="links">
    <div class="img-container">
        <div class="img-symbole">
            <app-img-loader [src]="(link.symbols.imgs && link.symbols.imgs[0])?(link.symbols.imgs[0].url|resourcePicture):null">
            </app-img-loader>
        </div>
    </div>
    <div class="content-slide">
        <ion-button fill="clear" [disabled]="slideIndex==0" *ngIf="links.length>1" (click)="slideprevious()" expand="full" size="small">
            <fa-icon class='dark-color' [icon]="['fas', 'angle-left']" class="dark-color" slot="icon-only"></fa-icon>
        </ion-button>
        <div class="title">
            <ion-card-header>
                <ion-card-title>{{link.symbols.name}}
                    <span *ngIf="link.symbolsens"> {{link.symbolsens.name}}</span>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p *ngIf="link.position">{{link.position.name}}</p>
                <p *ngIf="link.placement">décerné {{link.placement.name}}</p>
            </ion-card-content>
        </div>
        <ion-button fill="clear" [disabled]="slideIndex==links.length-1" *ngIf="links.length>1" (click)="slidenext()" expand="full" size="small">
            <fa-icon class='dark-color' [icon]="['fas', 'angle-right']" class="dark-color" slot="icon-only"></fa-icon>
        </ion-button>
    </div>
</ng-template>

<!--

    indicateur de navigation par miniature symbol?
-->