@let signification = signification$|async;
@if(signification)
{
    @if(signification.content!==signification.name)
    {
        <ion-card class="signification-content">
            <div class="content">{{signification.content}}</div>
        </ion-card>
    }

    <app-slider [(index)]="slideIndex">
        @let links = signification.links;
        @if(links)
        {
            @for(link of links; track link)
            {
                <ng-template appSlide>
                    <ion-card class="slide-container">
                        <div class="content">
                            <ng-container *ngTemplateOutlet="linkTpl;context:{link:link,links:signification.links}"></ng-container>
                        </div>
                    </ion-card>
                </ng-template>
            }
        }
    </app-slider>
}

<ng-template #linkTpl let-link="link" let-links="links">
    <div class="img-container">
        <div class="img-symbole">
            <app-img-loader [resource]="true" [src]="(link.symbols.imgs && link.symbols.imgs[0])?link.symbols.imgs[0].url:null">
            </app-img-loader>
        </div>
    </div>
    <div class="content-slide">
        @if(links.length>1)
        {
            <ion-button fill="clear" [disabled]="slideIndex()==0" (click)="previousSlide()" expand="full" size="small">
                <fa-icon class='dark-color' [icon]="['fas', 'angle-left']" class="dark-color" slot="icon-only"></fa-icon>
            </ion-button>
        }
        <div class="title">
            <ion-card-header>
                <ion-card-title>
                    {{link.symbols.name}}
                    @if(link.symbolsens)
                    {
                        <span> {{link.symbolsens.name}}</span>
                    }
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                @if(link.position)
                {
                    <p>{{link.position.name}}</p>
                }
                @if(link.placement)
                {
                    <p>décerné {{link.placement.name}}</p>
                }
            </ion-card-content>
        </div>
        @if(links.length>1)
        {
            <ion-button fill="clear" [disabled]="slideIndex()==links.length-1" (click)="nextSlide()" expand="full" size="small">
                <fa-icon class='dark-color' [icon]="['fas', 'angle-right']" class="dark-color" slot="icon-only"></fa-icon>
            </ion-button>
        }
    </div>
</ng-template>

<!--

    indicateur de navigation par miniature symbol?
-->