<ng-container *ngIf="searchable">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button menu="navigation" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light" *ngIf="searchText==''">
            <div class="title-content">
                <div class="titleStyle">{{title}}</div>
                <ion-badge *ngIf="length!=undefined" mode="ios" color="dark">{{length}}</ion-badge>
            </div>

        </ion-title>
        <ion-title *ngIf="searchText!=''">
            <div class="title-content">
                <div class="titleStyle">Recherche {{title}}</div>
                <ion-badge *ngIf="length!=undefined" mode="ios" color="dark">{{length}}</ion-badge>
            </div>
        </ion-title>
        <ion-buttons slot="end">

            <ion-button (click)="toggleSearch()">
                <fa-icon  [icon]="['fa-duotone', 'fa-angle-up']" color="light" *ngIf="!isSearching" slot="icon-only" (click)="toggleSearch()" ></fa-icon>
                <fa-icon  [icon]="['fa-duotone', 'fa-magnifying-glass']" *ngIf="isSearching" slot="icon-only" (click)="toggleSearch()" name="ios-arrow-up" ></fa-icon>

            </ion-button>
            <ion-button (click)="toggleFilterMenu()" *ngIf="isSearching && filterable">
                <fa-icon  [icon]="['fa-duotone', 'fa-plus']" ></fa-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
    <ion-toolbar color="secondary" [hidden]="!isSearching">
        <ion-searchbar [value]="searchText" (ionChange)="search($event)" animated></ion-searchbar>
    </ion-toolbar>
    <ng-container *ngTemplateOutlet="barLoaderTpl"></ng-container>
</ng-container>
<ng-container *ngIf="!searchable">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button menu="navigation"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="title-content">
                <div class="titleStyle">{{title}}</div>
                <ion-badge *ngIf="length!=undefined" mode="ios" color="dark">{{length}}</ion-badge>
            </div>
        </ion-title>
    </ion-toolbar>
    <ng-container *ngTemplateOutlet="barLoaderTpl"></ng-container>
</ng-container>

<ng-template #barLoaderTpl>
    <ion-toolbar class="barloader" [class.enable]="loadingState.enable">
        <ng-container *ngIf="loadingState.enable">
            <ion-title color="secondary" *ngIf="loadingState.message">
                {{loadingState.message}}
                <ng-container *ngIf="loadingState.value!==1">...</ng-container>
            </ion-title>
            <ion-progress-bar color="secondary" [value]="loadingState.value" [buffer]="loadingState.buffer"></ion-progress-bar>
        </ng-container>
    </ion-toolbar>
</ng-template>