

@if(item() && navigation()) {
<ion-item lines="none" [routerLink]="[navigation(),item().id]" (click)="click()" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
@if(item() && !navigation()) {
<ion-item lines="none" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
<ng-template #content>
    <ion-thumbnail slot="start">
        @let imgs = item().imgs;
        <app-img-loader [resource]="true" [src]="(imgs && imgs[0])?imgs[0].url:''">
        </app-img-loader>
    </ion-thumbnail>
    <ion-label>
        <h3>{{item().name}}</h3>

        @let circFils = item().links|filterLink:['circulaire','filiere'];
        @if(circFils) {
            @if(circFils.length>0) {
            <p class="filiere">
                @if(circFils.length>2) {
                    <div class="content">
                        <div class="flex">
                            @if(circFils[0].spe && showSpe()) {
                            <fa-icon [icon]="['fas', 'star']" class="primary-color"></fa-icon>
                            }
                            <div>
                                Sur {{circFils[0].circulaire?.name}}, {{circFils[0].filiere?.name}}
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="flex">
                            <div>
                                Et {{circFils.length-1}} autres circulaire/filières
                            </div>
                        </div>
                    </div>
                }
                @if(circFils.length<=2) {
                    @for(circFil of circFils; track circFil) {
                    <div class="content">
                        <div class="flex">
                            @if(circFil.spe && showSpe()) {
                                <fa-icon class="primary-color" [icon]="['fas', 'star']"></fa-icon>
                            }
                            <div>sur {{circFil.circulaire?.name}}, {{circFil.filiere?.name}}</div>
                        </div>
                    </div>
                    }
                }
            </p>
            }
        }
        @let significations = item().links|filterLink:['signification'];
        @if(significations) {
            @if(significations.length>0) {
            <p class="signification">
                @if(significations.length>2) {
                    <div class="content">
                        <div class="flex">
                            @if(significations[0].spe && showSpe()) {
                                <fa-icon class="primary-color" [icon]="['fas', 'star']"></fa-icon>
                            }
                            @if(significations[0].blame===true) {
                                <fa-icon class="primary-color" [icon]="['fas', 'circle-exclamation']"></fa-icon>
                            }
                            <div>
                                @if(significations[0].placement) {
                                    dec. {{significations[0].placement.name}}: 
                                }
                                @if(significations[0].symbolsens) {
                                    , {{significations[0].symbolsens.name}},
                                }
                                {{significations[0].signification?.content}}
                            </div>


                        </div>
                    </div>
                    <span class="content">
                        <div class="flex">
                            <div>
                                Et {{significations.length-1}} autres significations
                            </div>
                        </div>
                    </span>
                }
                @if(significations.length<=2) {
                    @for(signification of significations; track signification) {
                    <div class="content">
                        <div class="flex">
                            @if(signification.spe && showSpe()) {
                                <fa-icon class="primary-color" [icon]="['fas', 'star']"></fa-icon>
                            }
                            @if(signification.blame===true) {
                                <fa-icon class="primary-color" [icon]="['fas', 'circle-exclamation']"></fa-icon>
                            }
                            <div>
                                @if(signification.placement) {
                                     dec. {{signification.placement.name}}: 
                                    @if(signification.symbolsens) {
                                        , {{signification.symbolsens.name}},
                                    }
                                }
                                {{signification.signification?.content}}
                            </div>

                        </div>
                    </div>
                    }
                }
            </p>
            }
        }

    </ion-label>
</ng-template>
@if(!item()) {
<ion-item>
    <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>
}