<ion-header>
  <ion-toolbar>
    <ion-title>Mode dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" name="dev" [(ngModel)]="password" (keyup.enter)="login()"></ion-input>
  </ion-item>
  
  <div class="ion-padding-top">
    <ion-button expand="block" (click)="login()">Login</ion-button>
    <ion-button expand="block" fill="clear" (click)="dismiss()">Cancel</ion-button>
  </div>
</ion-content>
