<ion-list color="light">
    {{filters$|async|json}}
    <ng-container *ngFor="let filter of (filters$|async)">
        <!--<ion-list-header *ngIf="filter.label" color="dark">
            {{filter.label}}
        </ion-list-header>
        <ng-container *ngIf="filter.multipleChoices">
            <app-filter-multiple-choice [value]="filter.value" [choices]="filter.multipleChoices" (onchange)="filterChange(filter.name, $event)"></app-filter-multiple-choice>
        </ng-container>
        <ng-container *ngIf="filter.filterBooleans">
            <app-filter-multiple-boolean [value]="filter.value" [filters]="filter.filterBooleans" (onchange)="filterChange(filter.name, $event)"></app-filter-multiple-boolean>
        </ng-container>-->

    </ng-container>

</ion-list>