<ion-list color="light">
    @for(filters of (filtersList$|async); track filters) {
        @if(filters.label && filters.filters.length>0) {
        <ion-list-header color="dark">
            {{filters.label}}
        </ion-list-header>
        }
        @for(filter of filters.filters; track filter) {
            <ion-item>
                <ion-toggle (ionChange)="filterChange()" slot="start" color="secondary" [(ngModel)]="filter.enabled"></ion-toggle>

                <ion-label (click)="filter.enabled = !filter.enabled">
                    
                    <div class="title">{{filter.label}}</div>
                </ion-label>
                @if(filter.icon) {
                    <fa-icon [class.secondary-color]="filter.enabled" [class.dark-color]="!filter.enabled" [icon]="['fas', filter.icon]" slot="end"></fa-icon>
                }

                <!--<ion-checkbox slot="start" color="secondary" [value]="filter.value"></ion-checkbox>-->
            </ion-item>
        }


    }

</ion-list>