<ion-list color="light">
    {{filtersList$|async|json}}
    <ng-container *ngFor="let filters of (filtersList$|async)">
        <ion-list-header *ngIf="filters.label && filters.filters.length>0" color="dark">
            {{filters.label}}
        </ion-list-header>
        <ng-container>
            <ion-item *ngFor="let filter of filters.filters">
                <ion-label>{{filter.label}}</ion-label>
                <ion-toggle (ionChange)="filterChange()" slot="start" color="secondary" [(ngModel)]="filter.enabled"></ion-toggle>
                <!--<ion-checkbox slot="start" color="secondary" [value]="filter.value"></ion-checkbox>-->
            </ion-item>
        </ng-container>


    </ng-container>

</ion-list>