<ion-item [ngClass]="cssClass" *ngIf="item && navigation" lines="none" [routerLink]="[navigation,item.id]" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
<ion-item [ngClass]="cssClass" *ngIf="item && !navigation" lines="none">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
<ng-template #content>
    <ng-container *ngIf="(item.links|filterLink:['circulaire','symbols']) as circSymboles">
        <ion-thumbnail *ngIf="circSymboles.length>0" slot="start">
            <app-img-loader [src]="(circSymboles[0].symbols.imgs && circSymboles[0].symbols.imgs[0])?'http://resources.falidex.fr'+circSymboles[0].symbols.imgs[0].url:null">
            </app-img-loader>
        </ion-thumbnail>
    </ng-container>

    <ion-label *ngIf="(item.links|filterLink:['circulaire','symbols']:true) as circSymboles">

        <ng-container>
            <app-circulaire-representation *ngIf="circSymboles.length>0 && circSymboles[0].circulaire && circSymboles[0].circulaire.colors" [circulaire]="circSymboles[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>

        </ng-container>
        <div>
            <h3>
                <div>{{item.name}}</div>
            </h3>
            <p *ngIf="circSymboles && circSymboles.length>0" class="circSymb">
                <ng-container *ngIf="circSymboles.length>2">
                    <span class="content">
                            <ion-icon color="secondary" *ngIf="circSymboles[0].spe && showSpe" name="star">
                            </ion-icon>
                            <span><span *ngIf="circSymboles[0].symbols">
                                {{circSymboles[0].symbols.name}} sur
                            </span> {{circSymboles[0].circulaire.name}}
                    </span>
                    </span>
                    <span class="content">
                            <span>Et {{circSymboles.length-1}} autres représentations</span>
                    </span>

                </ng-container>
                <ng-container *ngIf="circSymboles && circSymboles.length<=2">
                    <span class="content" *ngFor="let circSymb of circSymboles">
                            <ion-icon color="secondary" *ngIf="circSymb.spe && showSpe" name="star">
                            </ion-icon>
                            <span><span *ngIf="circSymb.symbols">
                                {{circSymb.symbols.name}} sur
                            </span> {{circSymb.circulaire.name}}</span>
                    </span>
                </ng-container>
            </p>
        </div>
    </ion-label>

</ng-template>
<ion-item *ngIf="!item">
    <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>