@if(item() && navigation()) {
<ion-item [ngClass]="cssClass()" lines="none" [routerLink]="[navigation(),item().id]" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
@if(item() && !navigation()) {
<ion-item [ngClass]="cssClass()" lines="none">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
<ng-template #content>
    @let circSymboles = item().links|filterLink:['circulaire','symbols'];
    @if(circSymboles.length>0) {
        <ion-thumbnail slot="start">
            @let imgs = circSymboles[0].symbols?.imgs;
            <app-img-loader [resource]="true" [src]="(imgs && imgs[0])?imgs[0].url:''">
            </app-img-loader>
        </ion-thumbnail>
    }

    <ion-label>
        @if(circSymboles.length>0 && circSymboles[0].circulaire && circSymboles[0].circulaire.colors) {
            <app-circulaire-representation [circulaire]="circSymboles[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>
        }
        <div>
            <h3>
                <div>{{item().name}}</div>
            </h3>
            @if(circSymboles && circSymboles.length>0) {
            <p class="circSymb">
                @if(circSymboles.length>2) {
                    <span class="content">
                        @if(circSymboles[0].spe && showSpe()) {
                        <fa-icon  class="primary-color" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
                        }
                            <span>@if(circSymboles[0].symbols) {<span>
                                {{circSymboles[0].symbols.name}} sur
                            </span>} {{circSymboles[0].circulaire?.name}}
                    </span>
                    </span>
                    <span class="content">
                            <span>Et {{circSymboles.length-1}} autres représentations</span>
                    </span>
                }
                @if(circSymboles && circSymboles.length<=2) {
                    @for(circSymb of circSymboles; track circSymb) {
                    <span class="content">
                        @if(circSymb.spe && showSpe()) {
                        <fa-icon  class="primary-color" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
                        }
                            <span>@if(circSymb.symbols) {<span>
                                {{circSymb.symbols.name}} sur
                            </span>} {{circSymb.circulaire?.name}}</span>
                    </span>
                    }
                }
            </p>
            }
        </div>
    </ion-label>

</ng-template>
@if(!item()) {
<ion-item>
    <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>
}