@let symbol = symbol$|async;
@if(symbol)
{
    <ion-card class="img-container">
        <div class="img-symbole">
            @let imgs = symbol.imgs;
            <app-img-loader [src]="[(imgs && imgs[0])?imgs[0].url:'']">
            </app-img-loader>
        </div>
    </ion-card>
    <ion-card>
        <ion-tab-bar [selectedTab]="selectedTab">
            @let circulaireFilieres = symbol.links|filterLink:['circulaire','filiere'];
            @if(circulaireFilieres.length>0)
            {
                <ion-tab-button (click)="slideTo(0,$event)" tab="filieres">
                    <fa-icon [icon]="['fas', 'graduation-cap']" class="light-color"></fa-icon>
                    <ion-label>Filières</ion-label>
                    <ion-badge>{{circulaireFilieres.length}}</ion-badge>
                </ion-tab-button>
            }

            @let signifs = symbol.links|filterLink:['signification'];
            @if(signifs.length>0)
            {
                <ion-tab-button (click)="slideTo(1,$event)" tab="significations">
                    <fa-icon [icon]="['fas', 'book-open']" class="light-color"></fa-icon>
                    <ion-label>Significations</ion-label>
                    <ion-badge>{{signifs.length}}</ion-badge>
                </ion-tab-button>
            }
        </ion-tab-bar>
    </ion-card>
    <div class="content">
        <app-slider [(index)]="slideIndex">
            @if(symbol && filieres && filieres.length>0)
            {
                <ng-template appSlide>
                    <div class="filieres content">
                        @for(filiere of filieres; track filiere)
                        {
                            <ion-card>
                                <app-filiere-nosymb-block-item-list [item]="filiere" [cssClass]="'no-symbol'"></app-filiere-nosymb-block-item-list>
                            </ion-card>
                        }
                    </div>
                </ng-template>
            }
            @if(symbol && significations && significations.length>0)
            {
                <ng-template appSlide>
                    <div class="signification content">
                        @for(signification of significations; track signification)
                        {
                            <ion-card>
                                <app-signification-item-block [signification]="signification">
                                </app-signification-item-block>
                            </ion-card>
                        }
                    </div>
                </ng-template>
            }
        </app-slider>
    </div>
}
@if(!symbol$)
{
    <h1>OOPS</h1>
}