:host {
    text-align: center;
    width: 100%;
    //padding: 0 32px;
}

ion-slide {
    width: 100%;
}

ion-tab-bar {
    --background: var(--ion-color-secondary);
    ion-tab-button {
        --background: var(--ion-color-secondary);
        --color-selected: var(--ion-color-light);
        --color-focused: rgba(var(--ion-color-light-rgb), 1);
        --color: rgba(var(--ion-color-light-rgb), 0.5);
        /*&.tab-selected {
        --background: var(--ion-color-secondary);
      }*/
        fa-icon {
            font-size: 1.2em;
        }
        ion-badge {
            font-size: 11px;
            margin-left: -15px;
            margin-top: -10px;
            --background: var(--ion-color-dark-tint);
        }
    }
}

.img-container {
    .img-symbole {
        height: 300px;
        max-width: 300px;
        margin: auto;
    }
}

.flex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-badge {
        margin-left: 10px;
    }
}

.content {
    width: 100%;
}

ion-card.title {
    background: var(--ion-color-secondary) !important;
    ion-card-content {
        font-size: 0.9em;
    }
    &::first-letter {
        text-transform: uppercase;
    }
}