<ion-header>
    <app-header title="insignes/emblemes" (onsearch)="search($event)" [filterable]="true" [searchable]="true" [length]="dataLength"></app-header>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event)">
    <ion-fab *ngIf="showScrollTopBtn" (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark">
            <fa-icon  [icon]="['fa-duotone', 'fa-angle-up']" ></fa-icon>
        </ion-fab-button>
    </ion-fab>
    <ng-container *ngIf="(items$|async) as items">
        <app-list-container [activeListMode]="{list:true,gallery:true}" [loading]="loadingScroll">
            <ng-container slot="list">
                <ng-container *ngIf="!initLoading ">
                    <app-block-symbol-item-list [navigation]="true" *ngFor="let item of items; trackBy:trackByFn" [item]="item"></app-block-symbol-item-list>
                </ng-container>
                <ng-container *ngIf="initLoading">
                    <app-block-symbol-item-list *ngFor="let item of emptyItems" [item]="item"></app-block-symbol-item-list>
                </ng-container>
            </ng-container>
            <ng-container slot="gallery">
                <app-symbol-block-item-gallery [navigation]="true" *ngFor="let item of items; trackBy:trackByFn" [item]="item"></app-symbol-block-item-gallery>
            </ng-container>
        </app-list-container>
        <ion-infinite-scroll [disabled]="items.length>=dataLength || dataLength==0" threshold="120px" (ionInfinite)="getMore($event)">
            <ion-infinite-scroll-content color="primary" loadingSpinner="circular" loadingText="attends...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
</ion-content>