.list-item {
    /*padding-top: 50px;
    height: 100%;*/
    &::ng-deep {
        ion-item {
            margin-top: 0;
        }
    }
    &.gallery {
        display: flex;
        flex-wrap: wrap;
        &::ng-deep {
            .gallery-slot {
                display: flex;
                width: 100%;
                >*:not(ion-list-header) {
                    width: 33%;
                }
            }
        }
    }
}

.list-header {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

ion-slides {
    height: calc(100% - 48px);
    width: 100%;
    ion-slide {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        .list-item {
            position: relative;
        }
        /*&.absoluteList {
            .list-item {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }*/
        /* position: absolute;
        z-index: -1;
        */
    }
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    &::ng-deep {
        .cdk-virtual-scroll-content-wrapper {
            width: 100%;
        }
    }
}

ion-item-group {
    height: 100%;
}