<ng-container *ngTemplateOutlet="headerTpl">
</ng-container>
<ion-fab *ngIf="showScrollTopBtn" (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
        <fa-icon class="light-color" [icon]="['fas', 'angle-up']"></fa-icon>
    </ion-fab-button>
</ion-fab>
<ng-container *ngIf="activeListMode">
    <!-- list-->
    <ng-container *ngIf="!activeListMode.gallery && activeListMode.list">
        <cdk-virtual-scroll-viewport orientation="vertical" #cdkList itemSize="360" minBufferPx="900" maxBufferPx="1350">
            <ion-item-group class="list list-item" color="light">
                <ng-container *ngTemplateOutlet="listTpl"></ng-container>
            </ion-item-group>
        </cdk-virtual-scroll-viewport>

    </ng-container>

    <!-- gallery-->
    <ng-container *ngIf="activeListMode.gallery && !activeListMode.list">

        <cdk-virtual-scroll-viewport orientation="vertical" #cdkGallery itemSize="360" minBufferPx="900" maxBufferPx="1350">
            <ion-item-group class="gallery list-item" color="light">
                <ng-container *ngTemplateOutlet="galleryTpl"></ng-container>
            </ion-item-group>
        </cdk-virtual-scroll-viewport>
    </ng-container>

    <!-- both, sliding-->
    <ng-container *ngIf="activeListMode.gallery && activeListMode.list">
        <ion-slides [pager]="false">
            <ion-slide [class.absoluteList]="listMode=='gallery'">
                <cdk-virtual-scroll-viewport orientation="vertical" #cdkSlideList itemSize="360" minBufferPx="900" maxBufferPx="1350">
                    <ion-item-group class="list list-item" color="light">
                        <ng-container *ngTemplateOutlet="listTpl"></ng-container>
                    </ion-item-group>
                </cdk-virtual-scroll-viewport>
            </ion-slide>
            <ion-slide [class.absoluteList]="listMode=='list'">
                <cdk-virtual-scroll-viewport orientation="vertical" #cdkSlideGallery itemSize="360" minBufferPx="900" maxBufferPx="1350">
                    <ion-item-group class="gallery list-item" color="light">
                        <ng-container *ngTemplateOutlet="galleryTpl"></ng-container>
                    </ion-item-group>
                </cdk-virtual-scroll-viewport>
            </ion-slide>
        </ion-slides>
    </ng-container>
</ng-container>

<ng-template #headerTpl>
    <ion-item-divider sticky class="list-header" lines="inset" color="light" *ngIf="activeListMode && activeListMode.list && activeListMode.gallery">
        <div class="header-container">
            <ion-label>Affichage</ion-label>
            <ion-buttons>
                <ion-button ripp (click)="switchListMode('list')">
                    <fa-icon [icon]="['fas', 'list']" [ngClass]="listMode == 'list'?'secondary-color':'dark-color'" slot="icon-only"></fa-icon>
                </ion-button>
                <ion-button [color]="listMode == 'gallery'?'secondary':'dark'" (click)="switchListMode('gallery')">
                    <fa-icon [icon]="['fas', 'image']" [ngClass]="listMode == 'gallery'?'secondary-color':'dark-color'" slot="icon-only"></fa-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-item-divider>
</ng-template>
<ng-template #listTpl>
    <ng-content select="[slot='list']"></ng-content>
</ng-template>
<ng-template #galleryTpl>
    <ng-content select="[slot='gallery']"></ng-content>
</ng-template>