<ng-container *ngTemplateOutlet="headerTpl">
</ng-container>
@if(showScrollTopBtn) {
<ion-fab (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
        <fa-icon class="light-color" [icon]="['fas', 'angle-up']"></fa-icon>
    </ion-fab-button>
</ion-fab>
}
@if(activeListMode()) {
    <!-- list-->
    @if(!activeListMode().gallery && activeListMode().list) {
        @if(!initLoading) {
            <cdk-virtual-scroll-viewport orientation="vertical" #cdkList [itemSize]="itemListSize" [minBufferPx]="1200" [maxBufferPx]="1200">
                <ion-item-group class="list list-item" color="light">
                    @for(item of (items$|async); track item.id) {
                        <ng-container *ngTemplateOutlet="activeListMode().list;context:{item:item,navigation:navigationPath}"></ng-container>
                    }
                </ion-item-group>
            </cdk-virtual-scroll-viewport>
        }
        @if(initLoading) {
            <ion-item-group class="list list-item" color="light">
                @for(item of emptyItems; track $index) {
                    <ng-container *ngTemplateOutlet="activeListMode().list;context:{item:item}"></ng-container>
                }
            </ion-item-group>
        }
    }

    <!-- gallery-->
    @if(activeListMode().gallery && !activeListMode().list) {
        <ion-item-group class="gallery list-item" color="light">
            <cdk-virtual-scroll-viewport orientation="vertical" #cdkGallery [itemSize]="itemGallerySize/3" [minBufferPx]="1200" [maxBufferPx]="1200">
                 @let asyncItems = items$|async;
                 @if(asyncItems)
                 {
                    @for(items of (asyncItems|arrayGroupePipe:3); track $index) {
                        <div class="gallery-slot">
                            @if(items[0]) {
                                <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[0],navigation:navigationPath}"></ng-container>
                            }
                            @if(items[1]) {
                                <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[1],navigation:navigationPath}"></ng-container>
                            }
                            @if(items[2]) {
                                <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[2],navigation:navigationPath}"></ng-container>
                            }
                        </div>
                    }
                 }

            </cdk-virtual-scroll-viewport>
        </ion-item-group>

    }

    <!-- both, sliding-->
    @if(activeListMode().gallery && activeListMode().list) {
        <app-slider [(index)]="slideIndex">
            <ng-template appSlide>
                @if(!initLoading) {
                    <cdk-virtual-scroll-viewport orientation="vertical" #cdkSlideList [itemSize]="itemListSize" [minBufferPx]="1200" [maxBufferPx]="1200">
                        <ion-item-group class="list list-item" color="light">
                            @for(item of (items$|async); track item.id) {
                                <ng-container *ngTemplateOutlet="activeListMode().list;context:{item:item,navigation:navigationPath}"></ng-container>
                            }
                        </ion-item-group>

                    </cdk-virtual-scroll-viewport>
                }
                @if(initLoading) {
                    @for(item of emptyItems; track $index) {
                        <ng-container *ngTemplateOutlet="activeListMode().list;context:{item:item}"></ng-container>
                    }
                }
            </ng-template>
            <ng-template appSlide>
                                <cdk-virtual-scroll-viewport orientation="vertical" #cdkSlideGallery [itemSize]="itemGallerySize" [minBufferPx]="1200" [maxBufferPx]="1200">
                    <ion-item-group class="gallery list-item" color="light">
                        @let asyncItems = items$|async;
                        @if(asyncItems)
                        {
                        @for(items of (asyncItems|arrayGroupePipe:3); track $index) {
                            <div class="gallery-slot">
                                @if(items[0]) {
                                    <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[0],navigation:navigationPath}"></ng-container>
                                }
                                @if(items[1]) {
                                    <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[1],navigation:navigationPath}"></ng-container>
                                }
                                @if(items[2]) {
                                    <ng-container *ngTemplateOutlet="activeListMode().gallery;context:{item:items[2],navigation:navigationPath}"></ng-container>
                                }
                            </div>
                        }
                        }

                    </ion-item-group>
                </cdk-virtual-scroll-viewport>
            </ng-template>
        </app-slider>
    }
}

<ng-template #headerTpl>
    @if(activeListMode().list && activeListMode().gallery) {
    <ion-item-divider sticky class="list-header" lines="inset" color="light">
        <div class="header-container">
            <ion-label>Affichage</ion-label>
            <ion-buttons>
                <ion-button ripp (click)="switchListMode('list')">
                    <fa-icon [icon]="['fas', 'list']" [ngClass]="listMode() == 'list'?'secondary-color':'dark-color'" slot="icon-only"></fa-icon>
                </ion-button>
                <ion-button [color]="listMode() == 'gallery'?'secondary':'dark'" (click)="switchListMode('gallery')">
                    <fa-icon [icon]="['fas', 'image']" [ngClass]="listMode() == 'gallery'?'secondary-color':'dark-color'" slot="icon-only"></fa-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-item-divider>
    }
</ng-template>