<ion-header>
    <app-header title="filieres" (onsearch)="search($event)" [filterable]="true" [searchable]="true" [length]="(dataLength )?dataLength:undefined"></app-header>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event)">
    <ion-fab *ngIf="showScrollTopBtn" (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark">
            <fa-icon class="light-color" [icon]="['fas', 'angle-up']"></fa-icon>
        </ion-fab-button>
    </ion-fab>
    <ng-container *ngIf="(items$|async) as items">
        <app-list-container [activeListMode]="{list:true}" [loading]="loadingScroll">
            <ng-container slot="list">
                <ng-container *ngIf="!initLoading">
                    <app-filiere-block-item-list [navigation]="'/filieres/detail/'" [item]="item" *ngFor="let item of items; trackBy:trackByFn"></app-filiere-block-item-list>
                </ng-container>
                <ng-container *ngIf="initLoading">
                    <app-filiere-block-item-list [navigation]="'/filieres/detail/'" *ngFor="let item of emptyItems" [item]="item"></app-filiere-block-item-list>
                </ng-container>

            </ng-container>
        </app-list-container>
        <ion-infinite-scroll [disabled]="items.length>=dataLength || dataLength==0" threshold="120px" (ionInfinite)="getMore($event)">
            <ion-infinite-scroll-content color="primary" loadingSpinner="crescent">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
</ion-content>