<ion-header>
    <app-header title="filieres" (onsearch)="search($event)" [filterable]="true" [searchable]="true" [length]="(dataLength )?dataLength:undefined"></app-header>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event)">
    <ion-fab *ngIf="showScrollTopBtn" (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark">
            <ion-icon name="ios-arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ng-container *ngIf="(items$|async) as items">
        <app-list-container [dataLength]="dataLength" [itemLength]="items.length" [showListMode]="false" [loading]="loading" (ongetMore)="getMore()">
            <ng-container slot="list">
                <!--<app-filiere-item [item]="item" *ngFor="let item of listData"></app-filiere-item>-->
            </ng-container>
        </app-list-container>
    </ng-container>
</ion-content>