<ion-item>
    <ion-label>
        <div>


            <div class="text-content">{{signification.content}}</div>
        </div>
        <ng-container *ngIf="(signification.links|filterLink:['placement','position', 'symbolsens']:true) as posPlaces">
            <div class="metaInfo" *ngFor="let posPlace of posPlaces ">

                <div class="title">
                    <ng-container *ngIf="posPlace.placement">
                        décernement <span class="subtitle">{{posPlace.placement.name}}</span>
                    </ng-container>
                    {{(posPlace.placement && posPlace.position)?' ,':''}}
                    <ng-container *ngIf="posPlace.position">
                        <span class="subtitle">{{posPlace.position.name}}</span>
                    </ng-container>
                    {{(posPlace.placement && posPlace.symbolsens)?' ,':''}}
                    <ng-container *ngIf="posPlace.symbolsens">
                        <span class="subtitle">{{posPlace.symbolsens.name}}</span>
                    </ng-container>
                    <fa-icon *ngIf="posPlace.spe" class="primary-color" [icon]="['fas', 'circle-exclamation']"></fa-icon>
                </div>
            </div>
        </ng-container>
    </ion-label>
</ion-item>