@if(item() && navigation()) {
<ion-item lines="none" [routerLink]="[navigation(),item().id]" (click)="click()" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
@if(item() && !navigation()) {
<ion-item lines="none" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
<ng-template #content>
    <ion-label>
        <div>
            <div class="text-title">{{item().content}}</div>
        </div>
        @let links = displayLinks()|filterLink:['placement','position', 'symbolsens','symbols']:true;
        @if(links) {
            @for(link of links; track link) {
                <ng-container *ngTemplateOutlet="linkTpl;context:{link:link}"></ng-container>
            }
        }
    </ion-label>
</ng-template>
<ng-template #linkTpl let-link="link">
    <div class="metaInfo">
        <div class="title">

            <div>
                {{link.displayInfo}}
                @if(link.placement) {
                    <div class="decernement">
                        décernement <span class="subtitle">{{link.placement.name}}</span>
                    </div>
                }
            </div>

            @if(link.spe) {
                <fa-icon class="primary-color" [icon]="['fas', 'star']"></fa-icon>
            }
            @if(link.blame) {
                <fa-icon class="primary-color" [icon]="['fas', 'circle-exclamation']"></fa-icon>
            }
        </div>
    </div>
</ng-template>