@if(item() && navigation()) {
<ion-item lines="none" [routerLink]="[navigation(),item().id]" (click)="click()" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
@if(item() && !navigation()) {
<ion-item lines="none" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
<ng-template #content>
    <ion-label>
        <div>
            <div class="text-title">{{item().name}}</div>
        </div>
        @let links = item().links|filterLink:['placement','position', 'symbolsens','symbols']:true;
        @if(links) {
            @for(link of links; track link) {
                <ng-container *ngTemplateOutlet="linkTpl;context:{link:link}"></ng-container>
            }
        }
    </ion-label>
</ng-template>
<ng-template #linkTpl let-link="link">
    <div class="metaInfo">
        <div class="title">

            <div>
                @if(link.position) {
                    <span class="subtitle">{{link.position.name}}</span>
                }
                {{(link.position && link.symbols)?', ':''}}
                @if(link.symbols) {
                    <span class="subtitle">{{link.symbols.name}}</span>
                }
                {{((link.symbol || link.position)&& link.symbolsens)?', ':''}}
                @if(link.symbolsens) {
                    <span class="subtitle">{{link.symbolsens.name}}</span>
                }
                {{((link.symbol || link.position ||link.symbolsens ) && link.placement)?', ':''}}
                @if(link.placement) {
                    décernm. <span class="subtitle">{{link.placement.name}}</span>
                }
            </div>

            @if(link.spe) {
            <fa-icon class="primary-color" [icon]="['fas', 'circle-exclamation']"></fa-icon>
            }
        </div>
    </div>
</ng-template>