.content {
    color: #262626;
    font-size: 1.1em;
}

.subcontent {
    font-size: 0.9em;
    font-style: italic;
}

.title {
    font-weight: bold;
    &::first-letter {
        text-transform: uppercase;
    }
    &>div {
        margin-right: 5px;
    }
}