
@let items = items$|async;
@let filiere = filieres$|async;
@let symboles = symbols$|async;
@if(items && filiere && symboles)
{
    <ion-header>
        <app-header title="specifités" [length]="items.length+filiere.length+symboles.length"></app-header>
    </ion-header>

    <ion-content [scrollX]="false" [scrollY]="false">
        @if(showScrollTopBtn)
        {
            <ion-fab (click)="scrollToTop()" vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button color="dark">
                    <fa-icon class="light-color" [icon]="['fas', 'angle-up']"></fa-icon>
                </ion-fab-button>
            </ion-fab>
        }
        <app-slider [(index)]="activeSlide">
            <ng-template appSlide>
                <div class="code content">
                    <div #header1>
                        <ion-list-header color="tertiary">
                            <ion-label>Toutes les spécificités autres qu'insignes ou filières du code</ion-label>
                            <div class="border-item"></div>
                        </ion-list-header>
                    </div>

                    <ion-list [ngStyle]="{'height':'calc(100% - '+header1.offsetHeight+'px)'}">
                        @for(item of items; track item)
                        {
                            <app-spe-block-item-list [item]="item" [navigation]="'/spes/detail'"></app-spe-block-item-list>
                        }
                    </ion-list>
                </div>
            </ng-template>
            <ng-template appSlide>
                <div class="filiere content">
                    <div #header2>
                        <ion-list-header color="tertiary">
                            <ion-label>Toutes les spécificités de filières</ion-label>
                            <div class="border-item"></div>
                        </ion-list-header>
                    </div>

                    <ion-list [ngStyle]="{'height':'calc(100% - '+header2.offsetHeight+'px)'}">
                        @for(item of filiere; track item)
                        {
                            <app-filiere-block-item-list [navigation]="'/filieres/detail/'" [item]="item" [showSpe]="false">
                            </app-filiere-block-item-list>
                        }
                    </ion-list>
                </div>
            </ng-template>
            <ng-template appSlide>
                <div class="signification content">
                    <div #header3>
                        <ion-list-header color="tertiary">
                            <ion-label>Toutes les spécificités de significations</ion-label>
                            <div class="border-item"></div>
                        </ion-list-header>
                    </div>
                    <ion-list [ngStyle]="{'height':'calc(100% - '+header3.offsetHeight+'px)'}">
                        @for(item of symboles; track item)
                        {
                            <app-block-symbol-item-list [navigation]="'/symbols/detail/'" [item]="item" [showSpe]="false">
                            </app-block-symbol-item-list>
                        }
                    </ion-list>
                </div>
            </ng-template>
        </app-slider>

    </ion-content>
    <ion-footer class="ion-no-border">
        <ion-tab-bar [selectedTab]="activeSlide()">
            <ion-tab-button (click)="activeSlide.set(0)" tab="0">
                <fa-icon [icon]="['fas', 'book-open']" class="secondary-color"></fa-icon>
                <ion-label>Code</ion-label>
                <ion-badge>{{items?.length}}</ion-badge>
            </ion-tab-button>
            <ion-tab-button (click)="activeSlide.set(1)" tab="1">
                <fa-icon [icon]="['fas', 'graduation-cap']" class="secondary-color"></fa-icon>
                <ion-label>Filières</ion-label>
                <ion-badge>{{(filieres$|async)?.length}}</ion-badge>
            </ion-tab-button>

            <ion-tab-button (click)="activeSlide.set(2)" tab="2">
                <fa-icon [icon]="['fas', 'award']" class="secondary-color"></fa-icon>
                <ion-label>Symboles</ion-label>
                <ion-badge>{{(symbols$|async)?.length}}</ion-badge>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-footer>
}
