<ion-card>
    <div class="img-symbole">
        <app-img-loader [src]="(imgs && imgs[0])?'http://resources.falidex.fr'+imgs[0].url:null"></app-img-loader>
    </div>
    <div class="content-slide">
        <div class="navigation-button left">
            <ion-button [disabled]="slideIndex==0" fill="clear" *ngIf="circFils.length>1" (click)="slideprevious()" expand="full" size="small">
                <ion-icon color="dark" slot="icon-only" name="ios-arrow-back"></ion-icon>
            </ion-button>
        </div>

        <ion-slides (ionSlideDidChange)="slidesChange($event)" [hidden]="!circFils || circFils.length==0" #slidesContent>

            <ion-slide *ngFor="let circfil of circFils">


                <div class="content">
                    <app-circulaire-representation [circulaire]="circfil.circulaire" [cssClass]="'strong'">
                    </app-circulaire-representation>
                    <ion-card-header>
                        <ion-card-subtitle>
                            sur {{circfil.circulaire.name}}
                            <div class="spe" *ngIf="circfil.filiere.specificite">
                                <ion-icon name="book"></ion-icon> Spécificité
                            </div>
                        </ion-card-subtitle>
                        <ion-card-title>
                            {{circfil.filiere.name}}
                        </ion-card-title>
                    </ion-card-header>
                </div>


            </ion-slide>
        </ion-slides>
        <div class="navigation-button right">
            <ion-button [disabled]="slideIndex==circFils.length-1" *ngIf="circFils.length>1" fill="clear" (click)="slidenext()" expand="full" size="small">
                <ion-icon color="dark" slot="icon-only" name="ios-arrow-forward"></ion-icon>
            </ion-button>
        </div>

    </div>

</ion-card>