<ion-app>

    <ion-menu (ionDidClose)='menuClose()' side="start" menuId="navigation" contentId="main-content" type="overlay">
        <ng-container *ngIf="!menuFilters">
            <ion-header>
                <ion-toolbar>
                    <ion-item lines="none">
                        <ion-icon slot="start" name='book'></ion-icon>
                        <ng-container *ngIf="(relationsData$|async) as relations">
                            <ion-select placeholder="changer" (ionChange)="setCurrentRelation($event)" [value]="(currentRelationsData$|async).id" *ngIf="relations && relations.length>1">
                                <ion-select-option *ngFor="let relation of (relationsData$|async)" [value]="relation.id"> Code {{relation.name}}</ion-select-option>
                            </ion-select>

                        </ng-container>

                    </ion-item>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <app-navigation [pages]="appPages"></app-navigation>
            </ion-content>
        </ng-container>
        <ng-container *ngIf="menuFilters">
            <ion-header>
                <ion-toolbar color="secondary">
                    <ion-title>Filtres</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <app-filtres></app-filtres>
            </ion-content>
        </ng-container>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>


</ion-app>