<ion-item *ngIf="item && navigation" lines="none" [routerLink]="[navigation,item.id]" (click)="click()" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
<ion-item *ngIf="item && !navigation" lines="none" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
<ng-template #content>
    <ion-label *ngIf="(item.links|filterLink:['filiere']) as filiereList">
        <div class="content">
            <app-circulaire-representation class="left" *ngIf="item.colors" [circulaire]="item" [cssClass]="'vertical'"></app-circulaire-representation>
            <div class="item-container">
                <h3>
                    <div>{{item.name}}</div>
                </h3>
                <ng-container *ngIf="filiereList.length>2">
                    <ng-container *ngTemplateOutlet="filiereTpl;context:{filiereLinks:(filiereList|slice:0,2)}"></ng-container>
                    <p class="content">
                        Et {{filiereList.length-2}} de plus
                    </p>
                </ng-container>
                <ng-container *ngIf="filiereList.length<=2">
                    <ng-container *ngTemplateOutlet="filiereTpl;context:{filiereLinks:filiereList}"></ng-container>
                </ng-container>
            </div>
            <app-circulaire-representation class="right" *ngIf="item.colors" [circulaire]="item" [cssClass]="'vertical'"></app-circulaire-representation>
        </div>
    </ion-label>
</ng-template>
<ng-template #filiereTpl let-filiereLinks="filiereLinks">
    <p class="content" *ngFor="let filiereLink of filiereLinks">
        <span class="content">
            <fa-icon  class="primary-color" *ngIf="filiereLink.spe && showSpe" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
        <span>
            <span *ngIf="filiereLink.symbols">{{filiereLink.symbols.name}} pour</span> {{filiereLink.filiere.name}}
        </span>
        </span>
    </p>
</ng-template>
<ion-item *ngIf="!item">
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>