@if(item() && navigation()) {
<ion-item lines="none" [routerLink]="[navigation(),item().id]" (click)="click()" detail>
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
@if(item() && !navigation()) {
<ion-item lines="none" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</ion-item>
}
<ng-template #content>
    @let filiereList = item().links|filterLink:['filiere'];
    @if(filiereList) {
    <ion-label>

        @if(item().colors) {
            <app-circulaire-representation [circulaire]="item()" [cssClass]="'vertical'"></app-circulaire-representation>
        }
        <div>
            <h3>
                <div>{{item().name}}</div>
            </h3>
            @if(filiereList.length>1) {
            <p class="filiere">
                {{filiereList.length}} filieres
            </p>
            }
            @if(filiereList.length==1) {
                <ng-container *ngTemplateOutlet="filiereTpl;context:{filiereLinks:filiereList}"></ng-container>
            }
        </div>
    </ion-label>
    }
</ng-template>
<ng-template #filiereTpl let-filiereLinks="filiereLinks">
    @for(filiereLink of filiereLinks; track filiereLink) {
    <p class="filiere">
        <span class="content">
            @if(filiereLink.spe && showSpe()) {
            <fa-icon  class="primary-color" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
            }
        <span>
            @if(filiereLink.symbols) {<span>{{filiereLink.symbols.name}} pour</span>} {{filiereLink.filiere.name}}
        </span>
        </span>
    </p>
    }
</ng-template>
@if(!item()) {
<ion-item>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>
}