@if(item()) {
<ion-item [ngClass]="cssClass()" lines="none">
    @let circulaireList = item().links|filterLink:['circulaire'];
    <ion-label>
        <div class="content">
            @if(circulaireList.length>0 && circulaireList[0].circulaire && circulaireList[0].circulaire.colors) {
            <app-circulaire-representation class="left" [circulaire]="circulaireList[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>
            }
            <div class="item-container">
                <h3>
                    <div>{{item().name}}</div>
                </h3>
                @if(circulaireList && circulaireList.length>0) {
                <p class="content">
                    <span class="content">
                    @if(circulaireList[0].spe && showSpe()) {
                    <fa-icon  class="primary-color" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
                    }
                    <span>
                        @if(circulaireList[0].symbols) {<span>{{circulaireList[0].symbols.name}} sur</span>} {{circulaireList[0].circulaire?.name}}
                    </span>
                    </span>
                </p>
                }
            </div>
            @if(circulaireList.length>0 && circulaireList[0].circulaire && circulaireList[0].circulaire.colors) {
            <app-circulaire-representation class="right" [circulaire]="circulaireList[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>
            }
        </div>
    </ion-label>
</ion-item>
}
@if(!item()) {
<ion-item>
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>
}