<ion-item [ngClass]="cssClass" *ngIf="item" lines="none">
    <ion-label *ngIf="(item.links|filterLink:['circulaire']) as circulaireList">
        <div class="content">
            <app-circulaire-representation class="left" *ngIf="circulaireList.length>0 && circulaireList[0].circulaire && circulaireList[0].circulaire.colors" [circulaire]="circulaireList[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>
            <div class="item-container">
                <h3>
                    <div>{{item.name}}</div>
                </h3>
                <p *ngIf="circulaireList && circulaireList.length>0" class="content">
                    <span class="content">
                    <fa-icon  class="primary-color" *ngIf="circulaireList[0].spe && showSpe" [icon]="['fas', 'circle-exclamation']" ></fa-icon>
                    <span>
                        <span *ngIf="circulaireList[0].symbols">{{circulaireList[0].symbols.name}} sur</span> {{circulaireList[0].circulaire.name}}
                    </span>
                    </span>
                </p>
            </div>
            <app-circulaire-representation class="right" *ngIf="circulaireList.length>0 && circulaireList[0].circulaire && circulaireList[0].circulaire.colors" [circulaire]="circulaireList[0].circulaire" [cssClass]="'vertical'"></app-circulaire-representation>
        </div>
    </ion-label>
</ion-item>
<ion-item *ngIf="!item">
    <ion-label>
        <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
    </ion-label>
</ion-item>