<ion-header>
    <app-header title="Falidex"></app-header>
</ion-header>

<ion-content [scrollX]="false" [scrollY]="false">

    <ion-slides #slides (ionSlideDidChange)="slidesChange($event)" [pager]="false">
        <ion-slide>
            <div class="top-container" #topContainer>
                <ion-card class="warning-card" color='secondary'>
                    <ion-card-content color='secondary'>
                        <ion-text>Attention le falidex n'est pas le code, c'est un outil de réstitution et de recherche, il n'est pas officiel.<br/> En cas de doute, se référer au code officiel de la ville. </ion-text>
                    </ion-card-content>
                </ion-card>

            </div>
            <app-home-search-result [ngStyle]="{'height':'calc(100% - '+topContainer.offsetHeight+'px)'}"></app-home-search-result>
        </ion-slide>
        <ion-slide>
            <app-home-about></app-home-about>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">

    <ion-tab-bar [selectedTab]="activeSlide">
        <ion-tab-button (click)="switchTab(0)" tab="0">
            <fa-icon [icon]="['fas', 'house']" class="secondary-color"></fa-icon>
            <ion-label>Accueil</ion-label>

        </ion-tab-button>
        <ion-tab-button (click)="switchTab(1)" tab="1">
            <fa-icon [icon]="['fas', 'info']" class="secondary-color"></fa-icon>
            <ion-label>A Propos</ion-label>

        </ion-tab-button>
    </ion-tab-bar>

</ion-footer>