div.oops {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    div {
        h3 {
            text-align: center;
        }
        img {
            width: 200px;
            margin: auto;
            margin-bottom: 20px;
        }
        padding: 0 16px;
    }
}