@if(item() && navigation()) {
<div class="symbole-gallery-item" [routerLink]="[navigation(),item().id]" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
}
@if(item() && !navigation()) {
<div class="symbole-gallery-item" (click)="click()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
}

<ng-template #content>
    <div class="symbole-content">
        @let imgs = item().imgs;
        <app-img-loader [resource]="true" [src]="(imgs && imgs[0])?imgs[0].url:''">
        </app-img-loader>
        <div class="title-item">
            <div>
                {{item().name}}
            </div>
        </div>
    </div>
</ng-template>