<ion-list color="light">
    @if(installable$|async)
    {
    <ion-item class="install" (click)="installApp()">
        <fa-icon class="secondary-color" [icon]="['fas', 'mobile-screen']" slot="start"></fa-icon>

        Installe-moi
    </ion-item>
    }
    @if(installable$|async)
    {
        <ion-item-divider></ion-item-divider>
    }

    @for(p of pages; track $index) {
            <ion-menu-toggle auto-hide="false">
                <ion-item [class.disabled-item]="p.disabled" [class.ion-activable]="!p.disabled" [class.ion-activatable]="!p.disabled" [routerLink]="p.disabled?null:[p.url]">

                    @if(p.icon)
                    {
                        <fa-icon class="secondary-color" [icon]="['fas', p.icon]" slot="start"></fa-icon>
                    }

                    <!--<ion-icon color="secondary" slot="start" [name]="p.icon" [src]="p.src"></ion-icon>-->
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
    }

</ion-list>
