ion-card.title {
    text-align: center;
    background: var(--ion-color-secondary) !important;
    ion-card-content {
        font-size: 0.9em;
    }
    &::first-letter {
        text-transform: uppercase;
    }
}