@let circulaire = circualaire$|async;
@if(circulaire)
{
    <ng-container>
    <div class="circulaire-content">
        <app-circulaire-representation [cssClass]="'strong'" [circulaire]="circulaire"></app-circulaire-representation>

    </div>

    <app-slider [(index)]="slideIndex">
        <ng-container>

            <ng-container *ngIf="circulaire.links|filterLink:['filiere', 'symbols'] as links">

                <ng-template appSlide *ngFor="let link of links">
                    <ion-card class="slide-container">

                        <div class="content">

                            <ng-container *ngTemplateOutlet="linkTpl;context:{link:link,links:circulaire.links}"></ng-container>

                        </div>

                    </ion-card>
                </ng-template>
            </ng-container>


        </ng-container>

    </app-slider>
    </ng-container>

    <ng-template #linkTpl let-link="link" let-links="links">
        <div class="img-container">
            <div class="img-symbole">
                <app-img-loader [resource]="true" [src]="(link.symbols.imgs && link.symbols.imgs[0])?link.symbols.imgs[0].url:null">
                </app-img-loader>
            </div>
        </div>
        <div class="content-slide">
            <ion-button fill="clear" [disabled]="slideIndex()==0" *ngIf="links.length>1" (click)="previousSlide()" expand="full" size="small">
                <fa-icon class='dark-color' [icon]="['fas', 'angle-left']" class="dark-color" slot="icon-only"></fa-icon>
            </ion-button>
            <div class="title">
                <ion-card-header>
                    <ion-card-title>{{link.symbols.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>pour {{link.filiere.name}}</p>
                </ion-card-content>
            </div>
            <ion-button fill="clear" [disabled]="slideIndex()==links.length-1" *ngIf="links.length>1" (click)="nextSlide()" expand="full" size="small">
                <fa-icon class='dark-color' [icon]="['fas', 'angle-right']" class="dark-color" slot="icon-only"></fa-icon>
            </ion-button>
        </div>
    </ng-template>
}


<!--

    indicateur de navigation par miniature symbol?
-->