.circulaireColor {
    height: 30px;
    //border-top: solid #ffffff 1px;
}

.content-slide {
    display: flex;
    align-items: center;
    width: 100%;
    .title {
        width: 100%;
    }
}

.slide-container {
    width: 100%;
}

.img-symbole {
    height: 300px;
}